grafana:
  enabled: true
  adminPassword: "changeme"
  service:
    type: ClusterIP
  envValueFrom:
    GF_SMTP_USER:
      secretKeyRef:
        name: grafana-smtp
        key: user
    GF_SMTP_PASSWORD:
      secretKeyRef:
        name: grafana-smtp
        key: password

  grafana.ini:
    smtp:
      enabled: true
      host: smtp.gmail.com:587
      user: $__env{GF_SMTP_USER}
      password: $__env{GF_SMTP_PASSWORD}
      from_address: "gabrielshernandez481@gmail.com"
      from_name: "Grafana"
      startTLS_policy: OpportunisticStartTLS

prometheus:
  prometheusSpec:
    retention: 7d
    resources:
      requests:
        cpu: 200m
        memory: 1Gi
      limits:
        memory: 2Gi

alertmanager:
  alertmanagerSpec:
    resources:
      requests:
        cpu: 50m
        memory: 200Mi
      limits:
        memory: 500Mi

kube-state-metrics:
  resources:
    requests:
      cpu: 50m
      memory: 150Mi
    limits:
      memory: 300Mi

nodeExporter:
  resources:
    requests:
      cpu: 50m
      memory: 50Mi
    limits:
      memory: 100Mi

prometheusOperator:
  admissionWebhooks:
    enabled: false

